{% extends 'base.html.twig' %}

{% block title %}Annuler une sortie | {{ parent() }}{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{{ asset('css/event/cancel.css') }}">
{% endblock %}

{% block body %}

    <br>
    <br>
    <br>

    <section>

        <h1>Annuler une sortie</h1>

        <br>
        <br>

        <div>
            <br>
            <p>Nom de la sortie :</p> <p>{{ event.name }}</p>
            <br>
            <br>
            <p>Date et heure de la sortie :</p> <p>{{ event.startingDate|date('d/m/y à H:i') }}</p>
            <br>
            <br>
            <p>Campus :</p> <p>{{ event.organiser.campus.name }}</p>
            <br>
            <br>
            <p>Lieu :</p> <p>{{ event.place.name }}</p>
            <br>
            <br>
            <p>Ville :</p> <p>{{ event.place.city.name }}</p>

        </div>

        <br>
        <br>
        {{ form_start(form) }}
        {{ form_end(form) }}
    </section>

    <br>
    <br>
    <br>
    <br>

    <a href="{{ path('main_home') }}">Retour à l'accueil</a>
    <br>
    <br>
    <br>
    <br>
{% endblock %}
