{% extends 'base.html.twig' %}

{% block title %}Annuler une sortie | {{ parent() }}{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{{ asset('css/event/cancel.css') }}">
{% endblock %}

{% block body %}

    <section>
        {{ form_start(form) }}
        {{ form_end(form) }}
    </section>

    <br>
    <br>
    <br>
    <br>

    <a href="{{ path('main_home') }}">Retour à l'acceuil</a>
    <br>
    <br>
    <br>
    <br>
{% endblock %}
