{% extends 'base.html.twig' %}

{% block title %}
Créez votre évènement | {{ parent() }}
{% endblock %}

{% block body %}
    <div>
        {{ form_start(eventForm) }}
        {{ form_widget(eventForm) }}

        <button type="submit" value="">Enregistrer</button>
        <button type="submit" value="">Publier</button>
        <a href="{{ path('main_home') }}">Retour à la liste</a>

        {{ form_end(eventForm) }}
    </div>
{% endblock %}

