{% extends 'base.html.twig' %}

{% block title %}
Créez votre évènement | {{ parent() }}
{% endblock %}

{% block body %}
    <div>
        {{ form_start(EventType) }}
        {{ form_widget(EventType) }}

        <button type="submit" value="save">Enregistrer</button>
        <button type="submit" value="publish">Publier</button>
        <a href="{{ path('main_home') }}">Retour à la liste</a>

        {{ form_end(EventType) }}
    </div>
{% endblock %}

