{% extends 'base.html.twig' %}

{% block title %}

{{event.name}} | {{ parent() }}

{% endblock %}

{% block head %}

    <link rel="stylesheet" href="{{ asset('css/event/show.css') }}">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
          integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
          crossorigin=""/>
{% endblock %}

{% block body %}

    <br>
    <br>
    <br>



    <section class="show_event">
        <h1>Afficher une sortie</h1>
        <br>
        <br>
        <div class="show_event_top">

            <div class="show_event_left">

                <p class="title">Nom de la sortie :</p>
                <p class="attr">{{ event.name }}</p>
                <br><br>
                <p class="title">Date et heure de la sortie :</p>
                <p class="attr">{{ event.startingDate|date('d/m/Y à H:i') }}</p>
                <br><br>
                <p class="title">Date limite d'inscription :</p>
                <p class="attr">{{ event.registrationEnd|date('d/m/Y') }}</p>
                <br><br>
                <p class="title">Nombres de places:</p>
                <p class="attr">{{ event.maxRegistration }}</p>
                <br><br>
                <p class="title">Durée (en minutes):</p>
                {% set timeInSeconds = event.durationTime|date('H') * 3600 + event.durationTime|date('i') * 60 + event.durationTime|date('s') %}
                {% set timeInMinutes = timeInSeconds / 60 %}
                <p class="attr">{{ timeInMinutes|number_format(0, '.', ' ')  }}</p>

            </div>
            <div class="show_event_right">

                <p class="title">Campus :</p>
                <p class="attr">{{ event.organiser.campus.name }}</p>
                <br><br>
                <p class="title">Ville :</p>
                <p class="attr">{{ city.name }}</p>
                <br><br>
                <p class="title">Lieu :</p>
                <p class="attr">{{ event.place.name }}</p>
                <br><br>
                <p class="title">Rue :</p>
                <p class="attr">{{ event.place.street }}</p>
                <br><br>
                <p class="title">Code postal :</p>
                <p class="attr">{{ city.zipCode }}</p>
                <br><br>
                <p class="title">Latitude / Longitude :</p>
                <p class="attr">{{ event.place.latitude }} / {{ event.place.longitude }} </p>


            </div>

        </div>

        <div class="show_event_bottom">

            <p class="title">Description et infos :</p>
            <p class="desc">{{ event.eventInformations }}</p>

        </div>

        <div id="map"></div>

        {% if isAdmin %}
        <br>
            <a href="{{ path('event_cancellation' , { 'id' : event.id} ) }}">Annuler la sortie</a>
        <br>
        {% endif   %}
    </section>


    <section class="users_list">
        <h2>Liste des participants inscrits</h2>

        <table>
            <thead>
            <tr>
                <th>Pseudo</th>
                <th>Nom</th>
            </tr>
            </thead>
            <tbody>
            {% for participant in event.participants %}
                <tr>
                    <td><a href="{{ path('profil_home_id' , { 'id' : event.organiser.id} ) }}">{{ participant.pseudo }}</a></td>
                    <td>{{ participant.firstName }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </section>

    <a id="GoHome" href="{{ path('main_home') }}">Retour à l'accueil</a>
    <br>
    <br>
    <br>
    <br>
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
            integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
            crossorigin=""></script>
    <script type="text/javascript">
        var map = L.map('map').setView([{{ event.place.latitude }}, {{ event.place.longitude }}], 17);
        L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
            maxZoom: 19,
            attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
        }).addTo(map);
        var marker = L.marker([{{ event.place.latitude }}, {{ event.place.longitude }}]).addTo(map);
    </script>
{% endblock %}

