{% extends 'base.html.twig' %}

{% block title %}

{{event.name}} | {{ parent() }}

{% endblock %}

{% block body %}

    <br>
    <br>

    <h1>Afficher une sortie</h1>

    <h2>{{event.name}}</h2>
    <div>{{ event.eventInformations }}</div>
    <div>{{ event.durationTime | date('H:mm' ) }}</div>
    <div>{{ event.startingDate | date('dd/MM/Y H:mm' ) }}</div>
    <div>{{ event.maxRegistration }}</div>
    <div>{{ event.place.name }}</div>
    <div>{{ event.registrationEnd | date('dd/MM/Y H:mm' )}}</div>
    <div>{{ event.status }}</div>
    {% for participant in event.participants %}
    <div>{{ participant.firstName }}</div>
    {% endfor %}
    <div>{{ event.organiser.pseudo }}</div>

{% endblock %}

