{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} - Connexion
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{{ asset('css/resetPassword.css') }}">
{% endblock %}


{% block body %}

    {% if validateAction is not defined %}

        {{ form_start(form) }}
        <h1>Réinitialisez votre mot de passe</h1>
    <br>
    <br>
             {{ form_label(form.email) }}
    <br>
    <br>
    <br>
            {{ form_widget(form.email) }}
    {% if form_errors(form.email) %}
        <br>
        <br>
        <div class="error">
            {{ form_errors(form.email) }}
        </div>
    {% endif %}
    {% if error is defined %}
        <br>
        <br>
        <div class="error">
            {{ error }}
        </div>
    {% endif %}
        <br>
        <br>
                <button type="submit">
                    Valider
                </button>
        <br>
        <br>
            <a href="{{ path('main_home') }}">Annuler</a>
            {{ form_end(form) }}
        <br>
        <br>
        <br>

    {% else %}


        <div>

            <h1>Email envoyé avec succès</h1>
            <br>
            <br>
            <h2>Vous avez un délai de 24h pour effectuer la réinitialisation</h2>

        </div>

    {% endif %}
{% endblock %}