{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} - Connexion
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{{ asset('css/connexion.css') }}">
{% endblock %}


{% block body %}
    <div id="SuperCard" >
        <h1>Supprimer votre mot de passe</h1>
        {{ form_start(form) }}
            {% if form_errors(form.email) %}
                <div class="error">
                    {{ form_errors(form.email) }}
                </div>
            {% endif %}
            {{ form_widget(form.email) }}
                <button  class="btn btn-lg btn-primary" type="submit">
                    Se connecter
                </button>
            <a href="{{ path('main_home') }}">Annuler</a>
            {{ form_end(form) }}
    </div>
{% endblock %}