{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} - Connexion
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{{ asset('css/resetPassword.css') }}">
{% endblock %}


{% block body %}

    {{ form_start(form) }}
    <h1>Réinitialisez votre mot de passe</h1>
    <br>
    <br>
    {{ form_label(form.password) }}
    <br>
    <br>
    <br>

    <div class="resetProcess">
        {% if form_errors(form.password.first) %}
            <div>
                {{ form_errors(form.password.first) }}
            </div>
            <br>
        {% endif %}
        <div>
            {{ form_label(form.password.first) }}
            {{ form_widget(form.password.first) }}
        </div>
    </div>
<br>
<br>
    <div class="resetProcess">
        {% if form_errors(form.password.second) %}
            <div>
                {{ form_errors(form.password.second) }}
            </div>
            <br>
        {% endif %}
        <div>
            {{ form_label(form.password.second) }}
            {{ form_widget(form.password.second) }}
        </div>
    </div>
    {% if error is defined %}
        <br>
        <br>
        <div class="error">
            {{ error }}
        </div>
    {% endif %}
    <br>
    <br>
    <button type="submit">
        Valider
    </button>
    <br>
    <br>
    <a id="return" href="{{ path('main_home') }}">Annuler</a>
    {{ form_end(form) }}

{% endblock %}