{% extends 'base.html.twig' %}

{% block title %}Modification du campus{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ asset('css/admin/campus_edit.css') }}">
{% endblock %}

{% block body %}

    <section>

        <h1>Modifier le Campus</h1>

        <br>
        <br>
        <br>

        {{ form_start(form) }}
        {% if form_errors(form.name) %}
            <div class="error">
                {{ form_errors(form.name) }}
            </div>
            {% endif %}

            {{ form_widget(form.name) }}
        <br>
            <button class="btn">{{ button_label|default('Modifier') }}</button>
        {{ form_end(form) }}

        <br>
        {{ include('campus/_delete_form.html.twig') }}

        <br>
        <br>
        <a href="{{ path('app_campus_index') }}">Retour à la liste</a>

    </section>

    <br>
    <br>
    <br>
    <br>

{% endblock %}
