{% extends 'base.html.twig' %}

{% block title %}Gestion des campus{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{{ asset('css/admin/campus_show.css') }}">
{% endblock %}

{% block body %}
    <br>
    <br>

    <h1>Gérer les campus</h1>

    <br>
    <br>
    <br>

    <section>

        {{ form_start(searchForm) }}

            <h2>Filtrer les campus</h2>
            <br>

        <div>
            <label>Le nom contient</label>
            <div>
                <img src="{{ asset('img/loupe.png') }}">
                {{ form_widget(searchForm)}}
            </div>
        </div>

            <button name="campus_Search">
                Rechercher
            </button>


        {{ form_end(searchForm) }}

        <br>
        <br>

        <section class="campus_container">

            <table>
                <thead>
                    <tr>
                        <th>Campus</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                {% for campus in campuses %}
                    <tr>
                        <td>{{ campus.name }}</td>
                        <td>
                            <a href="{{ path('app_campus_edit', {'id': campus.id}) }}">Modifier</a>
                            {{ include('campus/_delete_form.html.twig') }}
                        </td>
                    </tr>
                {% endfor %}
                {% if form_errors(form.name) %}
                </tbody>
            </table>
            <div class="error">
                {{ form_errors(form.name) }}
            </div>
            <table>
                <tbody>
                {% endif %}
                {{ form_start(form) }}
                    <tr>
                            <td>
                                {{ form_widget(form.name) }}
                            </td>
                            <td>
                                <button class="btn">{{ button_label|default('Ajouter') }}</button>
                            </td>
                    </tr>
                {{ form_end(form) }}
                </tbody>
            </table>

        </section>

    </section>

    <br>
    <br>
    <br>
    <br>

{% endblock %}
