{% extends 'base.html.twig' %}

{% block title %}Campus index{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{{ asset('css/admin/campus_show.css') }}">
{% endblock %}

{% block body %}
    <h1>Gérer les campus</h1>

    <br>
    <br>
    <br>

    <section>

        <table>
            <thead>
                <tr>
                    <th>Campus</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for campus in campuses %}
                <tr>
                    <td>{{ campus.name }}</td>
                    <td>
                        <a href="{{ path('app_campus_edit', {'id': campus.id}) }}">Modifier</a>
                        {{ include('campus/_delete_form.html.twig') }}
                    </td>
                </tr>
            {% endfor %}
                <tr>
                     {{ form_start(form) }}
                        <td>
                            {{ form_widget(form) }}
                        </td>
                        <td>
                            <button class="btn">{{ button_label|default('Ajouter') }}</button>
                        </td>
                    {{ form_end(form) }}
                </tr>
            </tbody>
        </table>

    </section>

{% endblock %}
