{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} - Accueil
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/connexion.css') }}">
{% endblock %}

{% block javascripts %}

{% endblock %}

{% block body %}

    {{ form_start(EventSearchType) }}
    {{ form_widget(EventSearchType) }}


    {{ form_end(EventSearchType) }}

    <div>

        {% for event in events  %}

            {{ event.name }}<br>

        {% endfor %}
    </div>

        <a href="{{ path('event_create') }}">Créer votre sortie</a>

{% endblock %}