{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} - Accueil
{% endblock %}

{% block head %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/event/home.css') }}">
{% endblock %}


{% block body %}

    <br>

    <div class="app_details">
        <p>Date du jour : {{ "now"|date("d / m / Y") }}</p>
        <p>Participant : {{ app.user.firstName }} {{ app.user.lastName|slice(0,1) }}</p>
    </div>

    <br>
    <br>

    {{ form_start(EventSearchType) }}
    <h2>Filtrer les sorties :</h2>
    <section class="event_search_form">


            <div class="event_search_form_left">


                {{ form_row(EventSearchType.campus) }}
                {{ form_row(EventSearchType.q) }}

                <div class="event_search_form_dates">

                    {{ form_row(EventSearchType.startDate) }}
                    {{ form_row(EventSearchType.endDate) }}

                </div>
            </div>

            <div class="event_search_form_right">

                <div>

                    {{ form_row(EventSearchType.isOrganizer) }}
                    {{ form_row(EventSearchType.isRegistered) }}
                    {{ form_row(EventSearchType.notRegistered) }}
                    {{ form_row(EventSearchType.pastEvent) }}

                </div>


            </div>


        {{ form_widget(EventSearchType.search) }}


    </section>

    {{ form_end(EventSearchType) }}

    <br>
    <br>

    <section class="campus_container">

        <table>
            <thead>
            <tr>
                <th>Nom de la sortie</th>
                <th>Date de la sortie</th>
                <th class="hidden">Clôture</th>
                <th class="hidden750">Inscrits/Places</th>
                <th class="hidden750">Etat</th>
                <th class="hidden">Inscrit</th>
                <th class="hidden750">Organisateur</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for event in events  %}
                <tr>
                    <td><a href="{{ path('event_details', { 'id': event.id }) }}">{{ event.name }}</a></td>
                    <td>{{ event.startingDate|date('d / m / Y H:i:s') }}</td>
                    <td class="hidden">{{ event.registrationEnd|date('d / m / Y H:i:s')}}</td>
                    <td class="hidden750">{{ event.getParticipants.count() }} / {{ event.maxRegistration }}</td>
                    <td class="hidden750">{{ event.status }}</td>
                    <td class="hidden">
                        {% if event.participants.contains(app.user) %}
                            X
                        {% endif %}
                    </td>
                    <td class="hidden750"><a href="{{ path('profil_home_id' , { 'id' : event.organiser.id} ) }}">{{ event.organiser.firstName }} {{ event.organiser.lastName|slice(0, 1) }}</a></td>
                    <td>
                        {% if event.organiser != app.user or event.status != 'En création'%}

                        <a href="{{ path('event_details', { 'id': event.id }) }}">Afficher</a>

                        {% endif %}

                        {% if event.organiser == app.user%}

                            {% if event.status == 'En création' %}

                                <a href="#">Modifier</a>
                                <a href="{{ path('event_publish' , { 'id' : event.id} ) }}">Publier</a>
                                <a href="{{ path('event_cancellation' , { 'id' : event.id} ) }}">Supprimer</a>
                            {% endif %}


                        {% elseif event.participants.contains(app.user) %}
                            <a href="{{ path('event_leave' , { 'id' : event.id} ) }}">Se désister</a>
                        {% endif %}

                        {% if event.status == 'Ouverte '%}

                            <a href="{{ path('event_cancellation' , { 'id' : event.id} ) }}">Annuler</a>

                        {% endif %}

                        {% if not event.participants.contains(app.user) and event.status == 'Ouverte' and event.getParticipants.count() < event.maxRegistration %}
                            <a href="{{ path('event_join' , { 'id' : event.id} ) }}">S'inscrire</a>
                        {% endif %}





                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    </section>

    <br>
    <br>
    <br>

    <a href="{{ path('event_create') }}" class="event_create">Créer une sortie</a>

    <br>
    <br>
    <br>

{% endblock %}