{% extends 'base.html.twig' %}

{% block title %}Modification de la ville{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{{ asset('css/admin/campus_edit.css') }}">
{% endblock %}

{% block body %}
    <br>
    <br>
    <br>
    <section>

        <h1>Modifier la ville</h1>

        <br>
        <br>
        <br>

        {{ form_start(form) }}


        {% if form_errors(form.name) %}
            <div class="error">
                {{ form_errors(form.name) }}
            </div>
        {% endif %}

        {{ form_widget(form.name) }}
        <br>
        {% if form_errors(form.zipCode) %}
            <div class="error">
                {{ form_errors(form.zipCode) }}
            </div>
        {% endif %}

        {{ form_widget(form.zipCode) }}
        <br>
        <button class="btn">{{ button_label|default('Modifier') }}</button>
        {{ form_end(form) }}

        <br>
        {{ include('city/_delete_form.html.twig') }}

        <br>
        <br>
        <a href="{{ path('app_campus_index') }}">Retour à la liste</a>

    </section>

    <br>
    <br>
    <br>
    <br>
    <a id="GoHome" href="{{ path('admin_home') }}">Retour à l'espace Administrateur</a>

    <br>
    <br>
    <br>
{% endblock %}
