<section id="add_place" class="add_place">


    <div>

        <img id="closeAddingPLace" alt="Fermer" title="Fermer"  src="{{ asset('img/red cross.png') }}">

        <h2>Ajout d'un lieu</h2>
        <br>
        <br>
        {{ form_start(placeForm) }}

        <div>
            {% if form_errors(placeForm.city) %}
                <div>
                    {{ form_errors(placeForm.city) }}
                </div>
            {% endif %}
            <div>
                {{ form_label(placeForm.city) }}
                {{ form_widget(placeForm.city) }}
            </div>
        </div>
        <br>
        <div>
            {% if form_errors(placeForm.name) %}
                <div>
                    {{ form_errors(placeForm.name) }}
                </div>
            {% endif %}
            <div>
                {{ form_label(placeForm.name) }}
                {{ form_widget(placeForm.name) }}
            </div>
        </div>
        <br>
        <div>
            {% if form_errors(placeForm.street) %}
                <div>
                    {{ form_errors(placeForm.street) }}
                </div>
            {% endif %}
            <div>
                {{ form_label(placeForm.street) }}
                {{ form_widget(placeForm.street) }}
            </div>
        </div>
        <br>
        <div>
            {% if form_errors(placeForm.latitude) %}
                <div>
                    {{ form_errors(placeForm.latitude) }}
                </div>
            {% endif %}
            <div>
                {{ form_label(placeForm.latitude) }}
                {{ form_widget(placeForm.latitude) }}
            </div>
        </div>
        <br>
        <div>
            {% if form_errors(placeForm.longitude) %}
                <div>
                    {{ form_errors(placeForm.longitude) }}
                </div>
            {% endif %}
            <div>
                {{ form_label(placeForm.longitude) }}
                {{ form_widget(placeForm.longitude) }}
            </div>
        </div>

        {{ form_end(placeForm) }}

    </div>

</section>