{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} - Profil
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{{ asset('css/profil.css') }}">
{% endblock %}


{% block body %}

    <br>
    <br>

    <form method="POST" enctype="multipart/form-data">
        <h1>Mon Profil</h1>

        {% if user.imgName != null %}
            {% set imagePath = 'img/profil/' ~ user.imgName %}
            <img src="{{ asset(imagePath) }}">
        {% else %}
            <img src="{{ asset('img/profil/default.png') }}">
        {% endif %}

        {{ form_start(form) }}

        <div>
            <div>
                <label>Campus</label>
                <p>{{ user.campus.name }}</p>
            </div>
        </div>

        <div>
            {% if form_errors(form.pseudo) %}
                <div>
                    {{ form_errors(form.pseudo) }}
                </div>
            {% endif %}
            <div>
                {{ form_label(form.pseudo) }}
                {{ form_widget(form.pseudo) }}
            </div>
        </div>

        <div>
            {% if form_errors(form.first_name) %}
                <div>
                    {{ form_errors(form.first_name) }}
                </div>
            {% endif %}
            <div>
                {{ form_label(form.first_name) }}
                {{ form_widget(form.first_name) }}
            </div>
        </div>

        <div>
            {% if form_errors(form.last_name) %}
                <div>
                    {{ form_errors(form.last_name) }}
                </div>
            {% endif %}
            <div>
                {{ form_label(form.last_name) }}
                {{ form_widget(form.last_name) }}
            </div>
        </div>

        <div>
            {% if form_errors(form.phone) %}
                <div>
                    {{ form_errors(form.phone) }}
                </div>
            {% endif %}
            <div>
                {{ form_label(form.phone) }}
                {{ form_widget(form.phone) }}
            </div>
        </div>

        <div>
            {% if form_errors(form.email) %}
                <div>
                    {{ form_errors(form.email) }}
                </div>
            {% endif %}
            <div>
                {{ form_label(form.email) }}
                {{ form_widget(form.email) }}
            </div>
        </div>

        <div>
            {% if form_errors(form.password.first) %}
                <div>
                    {{ form_errors(form.password.first) }}
                </div>
            {% endif %}
            <div>
                {{ form_label(form.password.first) }}
                {{ form_widget(form.password.first) }}
            </div>
        </div>

        <div>
            {% if form_errors(form.password.second) %}
                <div>
                    {{ form_errors(form.password.second) }}
                </div>
            {% endif %}
            <div>
                {{ form_label(form.password.second) }}
                {{ form_widget(form.password.second) }}
            </div>
        </div>

        <div>
            {% if form_errors(form.imgName) %}
                <div>
                    {{ form_errors(form.imgName) }}
                </div>
            {% endif %}
            <div>
                {{ form_label(form.imgName) }}
                {{ form_widget(form.imgName) }}
            </div>
        </div>

        <br>
        <p>Votre clef API :</p>
        <p>{{ user.token }}</p>



        {{ form_end(form) }}
    </form>


    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

    <a href="{{ path('main_home') }}">Retour à l'accueil</a>
    <br>
    <br>
    <br>
    <br>

{% endblock %}