{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} - Profil
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{{ asset('css/profil.css') }}">
{% endblock %}


{% block body %}

<br>
<br>
<br>

    <section>

        {% if user.imgName != null %}
            {% set imagePath = 'img/profil/' ~ user.imgName %}
            <img src="{{ asset(imagePath) }}">
        {% else %}
            <img src="{{ asset('img/profil/default.png') }}">
        {% endif %}
        <br>
        <h1>{{ user.firstName }}&nbsp;{{ user.lastName }}</h1>
        <br>
        <p>Campus</p><p>{{ user.campus.name }}</p>
        <br>
        <p>Prénom</p><p>{{ user.firstName }}</p>
        <br>
        <p>Nom</p><p>{{ user.lastName }}</p>
        <br>
        <p>Téléphone</p><p>{{ user.phone }}</p>
        <br>
        <p>Email</p><p>{{ user.email }}</p>

    </section>

    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <a href="{{ path('main_home') }}">Retour à l'accueil</a>
    <br>
    <br>
    <br>
    <br>

{% endblock %}